*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 .container{
       height: 90vh;
       width: 65vw;
       margin: 5vh auto;
       display: flex;
       
 }
 .left{
     height: 100%;
     flex-grow: .8;
     background-color: #ECFBF7;
     display: flex;
     flex-direction: column;
     align-items: center;
     border-radius: 10px 0 0 10px;
 }
 .right{
     height: 100%;
     flex-grow: 2;
     background-color: #C8F4F0;
     border-radius: 0 10px 10px 0;
 }
 .profile{
     width: 40%;
     margin-top: 5vh;
     text-align: center;
    
 }
 .profile img{
     width: 60px;
     border-radius: 50%;
 }
 .profile p{
     font-family: 'Times New Roman', Times, serif;
     color: #62819E;
     text-size-adjust: 10px;
 }
 .profile p:nth-child(3){
    font-size: small;
 }
 .bold {
     font-weight: bolder;
 }
 .icons{ 
     display: flex;
     flex-direction: column;
     margin: 3vh;
 }
 .icons i{
    font-size: 1.5em;
 }
 .content{
     display: flex;
     gap: 1vw;
     margin-top: 5vh;
 }
 .content p{
    color: grey;
 }
 .bottom{
     width: 70%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #92E7DA;
     padding: 10px;
     border-radius: 1em;
     margin-top: 2em;
 }
 .bottom p{
     width: 60px;
     color: white;
 }
 .bottom i{
     font-size: 40px;
 }
 .line{
    height: 1.3em;
    background-color: #92E7D9;
    border-radius: 10px;
    max-width: 15em;
 }
 .card{
    width: 80%;
    background-color: #EBF9F8;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: 10px;
    margin: 10px;
 }
 .head div{
    background-color: #DEF7F5;
 }
 .card img{
    width: 60px;
    border-radius: 10px;
 }
 p{
    color: grey;
 }
 .cardcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
 }
 .head{
    margin: 50px 60px 30px 60px;
 }
 .head h2{
    color: #62819E;
 }
 .card p:first-child{
    font-size: large;
 }
 
 .card p:nth-child(2){
    font-size: small;
 }
 
 